body{
    background-color: #121212;
}

.entry-card{
    background-color: white;
    margin-top:  70px;
    border: 1px solid white;
    padding: 20px 15px;
}

.error{
    color: red;
}

.my-video{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 6000;
}

.bottom-sheet{
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    flex-direction: row;
}

.padded{
    padding: 12px 15px;
}

.rounded{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: gray;
}

.large{
    height: 60px;
    width: 60px;
    background-color: tomato;
}

.extra-padding{
    padding-top:  25px;
}

.my-player{
   width: 30vw;
   
}

/* Tablets and smaller screens */
@media screen and (max-width : 600px) {
    
}